.bmain{
  margin-bottom: 100px;
}
.toggleButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: relative;
  z-index: 10;
}

.logoname{
    position: relative;
    left: 44%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nav {
  margin-top: 167px;
}

.nav {
  color: goldenrod;
  text-decoration: none;
  padding: 0px 10px;
}

#fname {
  color: goldenrod;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pname {
  color: goldenrod;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2px;
}

#line {
  width: 450px;
  height: 1px;
  background-color: goldenrod;
  border: 1px solid goldenrod;
  margin-top: -20px;
}

.hamburger {
  display: none;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.bodypart{
  width: 100%;
  height:auto;
  /* border: 2px solid black;
  background-color: rgb(223, 156, 156); */
}


 @media screen and (max-width: 768px) {
  .toggleButton {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
  }
  

  .hamburger {
    display: block;
    color: goldenrod;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #nav {
    position: absolute;
    margin-top: 245px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logoname {
    position: relative;
    left:unset;
    transform: unset;
  }
  #fname{
    font-size: 25px;
  }
  #line{
    width:12rem;
  }

  .nav {
    display: block;
    padding: 10px;
    text-align: center;
  }

  #body{
    display: block !important;  
    /* top: 100px !important; */
    position: relative;
  }

  #img1{
    /* top: 104px !important; */
    position: relative;
    height: 350px;
    width: 100% !important;
    margin-left:auto !important;
    margin-right: auto !important;
  }
  #para{
    width: 100% !important;
    height: auto !important;
    border: 2px solid orange;
    background-color: orange;
    top: 220px !important;
    position: relative;
    margin-left: auto !important;
  }
}

#body{
  display: flex;
}
#img1{
  top: 100px !important;
  position: relative;
  height: 350px;
  width: 400px;
  margin-left: 150px;

}
#para{
  width: 530px;
  height: 345px;
  border: 2px solid orange;
  background-color: orange;
  top: 100px !important;
  position: relative;
  margin-left: 20px;
}

#parap{
  color: white;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
